body {
    font-family: "Poppins", sans-serif;
    background-color: #0c121f;

}

* {
    margin: 0;
    padding: 0;
}

.hclass {
    background-color: #c8c82e;
    height: 500px;
    width: 800px;
    margin: 10px;
    margin-top: 150px;
    margin-left: 350px;
    padding: 10px;
    border-radius: 10px;
    border: none;

}

hr {
    font-weight: 100;
}

h1 {
    margin: 5px;
    font-size: xx-large;
    color: #111620;
}

.qclass {
    width: 800px;
    height: 30px;
    border-radius: 10px;
    color: #111620;
    font-size: 30px;
    margin-top: 20px;
}

h2 {
    color: #111620;
    font-size: x-large;
    margin: 10px;

}

.nclass button {
    width: 100px;
    margin: 20px;
    padding: 10px;
    color: #fff;
    background-color: black;
    margin-left: 700px;
    border: none;
}

.option {
    width: 470px;
    margin: 5px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    margin-left: 150px;
    background: #fff;
}

.option:hover {
    background-color: #111620;
    color: white;
}

.aclass {
    flex-wrap: wrap;
    vertical-align: middle;
    margin-top: 25px;
}

.result {
    width: 300px;
    height: 300px;
    background-color: #c8c82e;
    color: #fff;
    margin: 10px;
    margin-top: 150px;
    margin-right: 350px;
    margin-left: 550px;
    padding: 10px;
    border-radius: 10px;
    border: none;

}

.result h1 {
    color: #0c121f;
    text-align: center;
    margin: 10px;
    padding: 10px;
    margin-top: 50px;
}

.bclass {
    background-color: #0c121f;
    color: white;
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    top: 400px;
    position: absolute;
}

.pclass {
    font-size: 25px;
    text-align: center;
    color: red;
    margin-top: 25px;

}

.p1class {
    font-size: 25px;
    text-align: center;
    color: red;
    margin-top: 2px;


}

.p2class {
    font-size: 25px;
    text-align: center;
    color: red;
    margin-top: 25px;

}